<div class="container main-content">
    <div class="col-md-12 content">
        <div class="row">
            <div class="col-md-12">
                <h1>Team Ka-bash'd</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="https://avatars1.githubusercontent.com/u/9645523?v=3&s=250" width="250px">
        </div>
        <div class="col-md-8">
            <h3>Mary Alula</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="https://avatars0.githubusercontent.com/u/10616966?v=3&s=250" width="250px">
        </div>
        <div class="col-md-8">
            <h3>Dominic DiBlasio</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
                <img class="img-thumbnail" src="https://avatars2.githubusercontent.com/u/15078804?v=3&s=250" width="250px">
        </div>
        <div class="col-md-8">
          <h3>Alex Berger</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="https://avatars1.githubusercontent.com/u/5134903?v=3&s=250" width="250px">
        </div>
        <div class="col-md-8">
            <h3>Sydney Hodge</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
                <img src="https://avatars1.githubusercontent.com/u/1680884?v=3&s=250">
        </div>
        <div class="col-md-8">
          <h3>Ariane Krumel</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="https://avatars2.githubusercontent.com/u/4026535?v=3&s=250" width="250px">
        </div>
        <div class="col-md-8">
            <h3>Sonny Shi</h3>
            <p>Sonny is a developer, designer, and mechanical keyboard enthusiast. He enjoys working with new web technologies and is currently focused on mastering Node.JS. He is moving to Northern Virginia after graduation as a Software Engineer for Capital One.</p>
            <p><a href="http://www.sonnyshi.com">His Website</a></p>
            <p><a href="http://www.github.com/thisisshi">His Github</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Sources</h2>
            <ul>
                <li>
                    <a href="https://www.wikipedia.org/">Wikipedia</a>
                </li>
                <li>
                    <a href="http://opengameart.org/content/bevouliin-free-game-background-for-game-developers">Open Game Art</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
