<div class="container main-content">
    <div class="col-md-12 content">
        <div class="row">
            <div class="col-md-12">
                <h1>Team Ka-bash'd</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="https://avatars1.githubusercontent.com/u/9645523?v=3&s=250" width="250px">
        </div>
        <div class="col-md-8">
            <h3>Mary Alula</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="https://avatars2.githubusercontent.com/u/15078804?v=3&s=250" width="250px">
        </div>
        <div class="col-md-8">
            <h3>Alex Berger</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="https://avatars0.githubusercontent.com/u/10616966?v=3&s=250" width="250px">
        </div>
        <div class="col-md-8">
            <h3>Dominic DiBlasio</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="https://avatars1.githubusercontent.com/u/5134903?v=3&s=250" width="250px">
        </div>
        <div class="col-md-8">
            <h3>Sydney Hodge</h3>
            <p>Sydney loves her city (!CLEVELAND!), reading, making ideas come to life, watching independent films, and discovering new and up and coming musicians. After graduation, Sydney is moving to New York City where she will be working with Google Inc. as a Software Developer in Tools and Infrastructure (SDET).</p>
            <p>
                <a href="http://www.sydneyhodge.com" target="_blank">Website</a>
            </p>
            <p>
                <a href="http://www.github.com/sydneyhodge" target="_blank">Github</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="https://avatars1.githubusercontent.com/u/1680884?v=3&s=250">
        </div>
        <div class="col-md-8">
            <h3>Ariane Krumel</h3>
            <p>Ariane is interested in making things on the computer, playing with gadgets and supporting women in engineering. She plans to pursue a software career in Baltimore, MD to create technology that is useful and inspiring.
            </p>
            <p>
                <a href="http://arianekrumel.github.io/" target="_blank">Her Website</a>
            </p>
            <p>
                <a href="http://www.github.com/arianekrumel" target="_blank">Her Github</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="https://avatars2.githubusercontent.com/u/4026535?v=3&s=250" width="250px">
        </div>
        <div class="col-md-8">
            <h3>Sonny Shi</h3>
            <p>Sonny is a developer, designer, and mechanical keyboard enthusiast. He enjoys working with new web technologies and is currently focused on mastering Node.JS. He is moving to Northern Virginia after graduation as a Software Engineer for Capital One.</p>
            <p>
                <a href="http://www.sonnyshi.com" target="_blank">His Website</a>
            </p>
            <p>
                <a href="http://www.github.com/thisisshi" target="_blank">His Github</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Sources</h2>
            <ul>
                <li>
                    <a href="https://www.wikipedia.org/" target="_blank">Wikipedia</a>
                </li>
                <li>
                    <a href="http://opengameart.org/content/bevouliin-free-game-background-for-game-developers" target="_blank">Open Game Art</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
