<div class="container">
  <div class="col-md-12 content">
  	<div class="row">
  		<div class="col-md-12">
			<h1>Credits</h1>
		</div>
  	</div>
  	<div class="row">
  		<div class="col-md-12">
			<h2>Team</h2>
		</div>
  	</div>
  	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
        			<h3>Sydney</h3>
        		</div>
				<img src="https://avatars1.githubusercontent.com/u/5134903?v=3&s=250" width="250px">
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
        			<h3>Sonny</h3>
        		</div>
				<img src="https://avatars2.githubusercontent.com/u/4026535?v=3&s=250" width="250px">
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
        			<h3>Dominic</h3>
        		</div>
				<img src="https://avatars0.githubusercontent.com/u/10616966?v=3&s=250" width="250px">
			</div>
		</div>
	</div>
  	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
        			<h3>Mary</h3>
        		</div>
				<img src="https://avatars1.githubusercontent.com/u/9645523?v=3&s=250" width="250px">
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
        			<h3>Alex</h3>
        		</div>
				<img src="https://avatars2.githubusercontent.com/u/15078804?v=3&s=250" width="250px">
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
        			<h3>Ariane</h3>
        		</div>
				<img src="https://avatars1.githubusercontent.com/u/1680884?v=3&s=250">
			</div>
		</div>
	</div>
  	<div class="row">
  		<div class="col-md-12">
			<h2>Sources</h2>
			<ul>
				<li><a href="https://www.wikipedia.org/">Wikipedia</a></li>
				<li><a href="http://opengameart.org/content/bevouliin-free-game-background-for-game-developers">Open Game Art</a></li>
			</ul>
		</div>
  	</div>
</div>
  </div>
</div>
