<div class="container main-content">
  <div class="col-md-12 content">	
  	<div class="row">
  		<div class="col-md-12">
			<h1>Help</h1>
			<h2>Tutorial</h2>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/VG3nFUjv2v8" frameborder="0" allowfullscreen></iframe>
		</div>
  	</div>
  </div>
</div>
