<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


<div class="jumbotron">

  <img src="/assets/kabashdfull.png" width="100%" />

  <br />
  <br />

  <a href="/games/new" type="button" class="btn btn-lg btn-success btn-block">New Game</a>

  <a href="/games/load" type="button" class="btn btn-lg btn-success btn-block">Load Game</a>


  <button type="button" class="btn btn-lg btn-primary btn-block">Options</button>

  <a href="/static_pages/credits" type="button" class="btn btn-lg btn-primary btn-block">Credits</a>

  <a href="/sessions/destroy" type="button" class="btn btn-lg btn-primary btn-block">Log Out</a>

</div>
