<div class="row">
	<div class="col-md-8 jumbotron">
		<img src="/assets/kabashdfull.png" width="100%" />
	</div>
	<div class="col-md-4">
		<a href="/level1" type="button" class="btn btn-lg btn-success btn-block">Level 1</a>
		<a href="/level2" type="button" class="btn btn-lg btn-success btn-block">Level 2</a>
		<a href="/level3" type="button" class="btn btn-lg btn-success btn-block">Level 3</a>
		<a href="/static_pages/credits" type="button" class="btn btn-lg btn-primary btn-block">Credits</a>
		<a href="/sessions/destroy" type="button" class="btn btn-lg btn-primary btn-block">Log Out</a>
	</div>
</div>
