<div class="row">
	<div class="col-md-10 col-md-offset-2 main">
		&nbsp;
		<h1>Welcome to Kabash'd</h1>
		<p>Create a new game by clicking on the "New Game" button on the sidebar to your left.</p>
	</div>
	<%= render 'shared/sidebar' %>

</div>
