<div id="HomePage" class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1>Welcome to Ka-bash’d!</h1>
      <h2>Ka-bash'd: A Natural Language Game Framework</h2>
      <p>Ka-bash’d is a natural language, game creation framework with valuable applications in training and learning. Games created in Ka-bash’d allow players to use their own words to control game play. IBM Watson, specifically the Watson Engagement Advisor (WEA), interprets user input as in-game commands. IBM Watson is also available in the traditional question answering context via a gametime companion that provides related data on request. The initial game is a medical game where a player must examine, interact, diagnose, and give treatment options to patients. Ka-bash’d includes an extensible API that allows easy creation of game scenarios that each provide unique skill-building opportunities to players.</p>
      <a href="#" class="btn btn-default btn-lg">Sign In</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <%= render 'shared/signup_form' %>
    <!-- If invalid sign-up information is provided, a table of errors is printed -->
    <table>
      <% if @err != nil %>
          <% @err.each do |message| %>
              <tr>
                <td><%= "#{message[0].to_s.titleize} #{message[1][0]}" %></td>
              </tr>
          <%end%>
      <% end %>
    </table>

  </div>
  <div class="col-md-4"></div>
</div>