<div class="alert alert-success" role="alert">
	Congratulations! You win. <a href="/games/new" class="alert-link"> Play again </a> or
	<a href="/sessions/destroy" class="alert-link"> Quit </a>?
</div>
