<div class="alert alert-danger" role="alert">
    Game Over.
    <a href="/games/new" class="alert-link">
        Start Over
    </a>
    or
    <a href="/sessions/destroy" class="alert-link">
        Quit
    </a>?
</div>
