<div style="display: block" class="alert alert-success" role="alert">Congratulations! You win. <a href="/games/new" class="alert-link">Play again</a> or <a href="/sessions/destroy" class="alert-link">Quit</a>?
</div>
<div style="display: none" class="alert alert-info" role="alert">You have completed a task. <a href="#" class="alert-link">Move to the next task.</a></div>
<div style="display: none" class="alert alert-warning" role="alert">Sorry, you have failed a task. <a href="#" class="alert-link">Try again.</a></div>
<div style="display: none" class="alert alert-danger" role="alert">Game Over. <a href="/games/new" class="alert-link">Start Over</a> or <a href="/sessions/destroy" class="alert-link">Quit</a>?</div>