<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Menu</h3>
      </div>
      
      <div class="panel-body">
        <button type="button" class="btn btn-sml btn-primary btn-block">Options</button>
        <a href="/sessions/destroy" type="button" class="btn btn-sml btn-danger btn-block">Log Out</a>
      </div>
</div>