<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="../">
      <img alt="kabash'd" src="/assets/kabashd.png" style="width:30px;height:30px;position:relative;transform:translateY(-20%);">
    </a>
    <a class="navbar-brand" href="../">Kabash'd Game</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
    <%= render 'shared/game_menu' %>
  </div>
</nav>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Score</div>
      <div class="panel-body">
        10,000
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <%= render :partial => "shared/progress_bar", :locals => { :percent => @user_percent} %>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Level</div>
      <div class="panel-body">
        3
      </div>
    </div>
  </div>
</div>