<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <a class="navbar-brand" href="../">
      <img alt="kabash'd" src="/assets/kabashd.png" style="width:30px;height:30px;position:relative;transform:translateY(-20%);">
    </a>
    <a class="navbar-brand" href="../">Kabash'd Game</a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
    <ul class="nav navbar-nav">
		  <li><a href="/static_pages/credits">Credits</a></li>
		  <li><a href="/sessions/destroy">Log Out</a></li>
	  </ul>
  </div>
</nav>
