<div class="row" id="header-game">
    <div class="panel panel-default">
      <div class="panel-heading">Score</div>
      <div class="panel-body">
        0
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Level</div>
      <div class="panel-body">
        1
      </div>
    </div>
    <%= render :partial => "shared/progress_bar", :locals => { :percent => @user_percent} %>
</div>
