<div class="row jumbotron" id="header-game">
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">Score</div>
      <div class="panel-body">
        <%=(@user_percent * 5).round%>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">Level</div>
      <div class="panel-body">
        1
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <%= render :partial => "shared/progress_bar", :locals => { :percent => @user_percent} %>
  </div>
</div>
