<div class="panel panel-default" id="Progress">

  <div class="panel-heading">
    <span class="panel-title">Progress</span>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <%= percent %>%
      </div>
      <div class="col-md-9">
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%= percent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= percent %>%">
            <span class="sr-only"><%= percent %>% Complete (success)</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>