<div class="col-md-2 sidebar">
    <hr/>
    <img src="/assets/kabashdfull.png" width="100%"/>
    <hr/>
    <a href="/games/new" type="button" class="btn btn-lg btn-success btn-block">New Game</a>
    <a href="/games/load" type="button" class="btn btn-lg btn-primary btn-block">Load Game</a>
    <hr/>
</div>
