<div class="col-md-2 sidebar">
    <hr/>
    <img src="/assets/kabashdfull.png" width="100%"/>
    <hr/>
    <a href="/games/new" type="button" class="btn btn-lg btn-success btn-block">New Game</a>
    <a href="/games/load" type="button" class="btn btn-lg btn-success btn-block">Load Game</a>
    <hr/>
    <div class="btn-group text-center">
        <a href="/level1" type="button" class="btn btn-lg btn-success">Level 1</a>
        <a href="/level2" type="button" class="btn btn-lg btn-success">Level 2</a>
        <a href="/level3" type="button" class="btn btn-lg btn-success">Level 3</a>
    </div>
</div>
