<h1 id="game_name">Kabash'd</h1>
<div>

  <iframe onload="resizeIframe()" frameborder="0" id="conv_iframe" height="0px" width="100%" name="conv_iframe">

  </iframe>
  <%= form_tag({controller: "home", action: "query"}, method: "post", style:"width:100%", target:"conv_iframe", id:"queryForm") do  %>
      <%= submit_tag("Search", class: "submitQuery") %>
      <span class='fieldSpan'>
        <%= text_field_tag(:query, nil, class: "queryField", id:"query") %>
      </span>
  <% end %>
  <script>

      function resizeIframe(){
          $('#conv_iframe').attr("height", $('#conv_iframe').contents().find('html').outerHeight());
      }

      $('#queryForm').submit(function(e) {
          e.preventDefault(); // don't submit multiple times
          var container = $("<div></div>");
          var query = $("<p></p>").text($('#query').val());
          var waiting = $("<p></p>").text("Awaiting Response...");
          query.attr('style', 'color:white');
          waiting.attr('style', 'color:yellow');
          container.append(query, waiting);


          $('#conv_iframe').contents().find('body').append(container);
          resizeIframe();

          this.submit(); // use the native submit method of the form element
          $('#query').val(''); // blank the input



      });


  </script>

</div>