<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


<div class="jumbotron">

	<img src="/assets/kabashdfull.png" width="100%" />

	<br />
	<br />

	<a href="home/play" type="button" class="btn btn-lg btn-success btn-block">Play</a>

	<button type="button" class="btn btn-lg btn-primary btn-block">Options</button>

	<button type="button" class="btn btn-lg btn-primary btn-block">Credits</button>
</div>



<div class="row marketing">
    <div class="col-lg-6">
        <h4>Subheading</h4>
        <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>
    </div>
</div>