<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Kabashd Game</a>
        </div>
      </div>
    </nav>

<h1 id="game_name">Kabash'd</h1>

<div class="jumbotron">
  <iframe src="home/query" onload="resizeIframe()" frameborder="0" id="conv_iframe" height="0px" width="100%" name="conv_iframe">
  </iframe>

  <%= form_tag({controller: "home", action: "query"}, method: "post", target:"conv_iframe", id:"queryForm") do  %>
      <%= submit_tag("Search", class: "submitQuery") %>
      <span class='fieldSpan'>
        <%= text_field_tag(:query, '',id:"query") %>
      </span>
  <% end %>
</div>