<iframe src="query" frameborder="0" id="conv_iframe" name="conv_iframe"></iframe>

    <%= form_tag({controller: "home", action: "query"}, method: "post", target:"conv_iframe", id:"queryForm") do  %>

      <div class="input-group">
        <input type="text" name ="query" class="form-control" placeholder="Submit command...">
        <span class="input-group-btn">
          <button class="btn btn-default" type=;"button">Go!</button>
        </span>
      </div>

      </div>
<% end %>