


<% @conversations.each do |conversation| %>
    <div class="conv_entry">
        <p><%= conversation.query %></p>
        <p><%= conversation.response %> (<%= conversation.confidence %>)</p>
    </div>
<% end %>


