<div class="jumbotron">
	<img src="/assets/kabashdfull.png" width="100%" />
	<a href="games/new" type="button" class="btn btn-lg btn-success btn-block">Play</a>
	<button type="button" class="btn btn-lg btn-primary btn-block">Options</button>
	<a href="static_pages/credits" type="button" class="btn btn-lg btn-primary btn-block">Credits</a>
</div>