<div class="row">
    <div class="col-md-10 col-md-offset-2 main">
        &nbsp;
        <img src="/assets/kabashdfull.png" width="100%"/>
        <a href="games/new" type="button" class="btn btn-lg btn-success btn-block">Play</a>
        <button type="button" class="btn btn-lg btn-primary btn-block">Options</button>
        <a href="static_pages/credits" type="button" class="btn btn-lg btn-primary btn-block">Credits</a>
    </div>
    <div class="col-md-2 sidebar">
        &nbsp;
        <a href="/games/new" type="button" class="btn btn-lg btn-success btn-block">New Game</a>
        <a type="button" class="btn btn-lg btn-success btn-block">Level 1</a>
        <a type="button" class="btn btn-lg btn-success btn-block">Level 2</a>
        <a type="button" class="btn btn-lg btn-success btn-block">Level 3</a>
    </div>
</div>
