<div class="jumbotron">

  <h2>Which game would you like to load?</h2>

  <% @games.each do |game| %>

      <%= form_tag({controller: "games", action: "create"}, method: "post", target:"conv_iframe", id:"queryForm") do  %>

          <div class="input-group">
                  <span>
                <%= submit_tag game.name + ' - ' + game.id.to_s, class:'btn btn-lg btn-primary btn-block'%>
                    <%= hidden_field_tag(:game_id, game.id) %>

                    </span>
          </div>
      <% end %>

  <% end %>

</div>