<div class="container">
  <div class="row">
    <h2>Which game would you like to load?</h2>

    <% @games.to_a.each do |game| %>
        <%= form_tag({controller: "games", action: "create"}, method: "post", id:"queryForm") do  %>
            <div class="col-md-4" style="padding:10px">
              <%= submit_tag game.name + ' - ' + game.id.to_s, class:'btn btn-lg btn-primary btn-block load-buttons'%>
              <%= hidden_field_tag(:loaded_game_id, game.id) %>
            </div>
        <% end %>
    <% end %>

  </div>
</div>

<%= render 'shared/sidebar' %>
