<div class="row">
	<div class="col-md-10 col-md-offset-2 main">
		&nbsp;
		<%= render 'shared/new_game_form', layout: 'include' %>
	</div>
	<div class="col-md-2 sidebar">
		&nbsp;
		<a href="/games/new" type="button" class="btn btn-lg btn-success btn-block">New Game</a>
		<a href="/level1" type="button" class="btn btn-lg btn-success btn-block">Level 1</a>
		<a href="/level2" type="button" class="btn btn-lg btn-success btn-block">Level 2</a>
		<a href="/level3" type="button" class="btn btn-lg btn-success btn-block">Level 3</a>
	</div>
</div>
