<h1>Name your new game:</h1>

<%= render 'shared/new_game_form' %>

<% @games.each do |game| %>
    <div class="conv_entry">
          <p><%= game.name %></p>
          <% if game.time != nil %>
              <p><%= game.time %></p>
          <% else %>
              <p>0</p>
          <%end%>
      <p><%= game.user_id %></p>
        </div>
<% end %>
