/*
 *= require twitter/bootstrap
 */

@import "demo";
@import "games";
@import "static_pages";

html, body {
	height: 100%;
	overflow:hidden;
	font-family:Helvetica, Arial, sans-serif;
    background-color: black;
    overflow: scroll;

	main {
	  height:100vh;

		.main-content, .content {
		  height: 100%;

		  .user-input {
		    margin-top: 20px;
		  }
		}
	}

	.login_content, .sign_up_content {
		margin-bottom: 10px;
	}
}