body#GamesController {
  overflow-y: hidden;

  .chat-body{
    height:75vh;
    overflow-y:scroll;
  }

  .chat-panel{
    margin-top:30px;
    border-color:rgba(1,1,1,0);
    background-color:rgb(236, 240, 245);
  }

  ::-webkit-scrollbar
  {
    width: 12px;  /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
  }

  ::-webkit-scrollbar-track
  {
    background: rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-thumb
  {
    background: rgba(0, 0, 0, 0.5);
  }

  main {
      .user-input {
        margin-top: 20px;
      }
  }

  .login_content, .sign_up_content {
    margin-bottom: 10px;
  }

  .load-buttons {
    margin: 10px 0;
  }

  #query {
    width: 100%;
    color: black;
  }

  // #queryarea {
  //   overflow-y: scroll;
  //   height: 50em;
  //
  //   .conv_entry {
  //     color: #000;
  //
  //     .responseSuccess {
  //       color: black;
  //     }
  //
  //     .responseFail {
  //       color: red;
  //     }
  //   }
  //
  // }

  .storycommands{
    position:absolute;
    bottom:0px;
  }
  .story-box{
    padding-top:20px;
    padding-bottom:20px;
  }
}
