body {
  background-color: #1A191F;
}

.load-buttons {
  margin: 10px 0;
}

#query {
  width: 100%;
  color: white;
}

#queryarea {
  overflow-y: scroll;
  height: 50em;

  .conv_entry {
    color: #fff;

    .responseSuccess {
      color: lightgreen;
    }

    .responseFail {
      color: red;
    }
  }

}
