body#GamesController {

  main {
      .user-input {
        margin-top: 20px;
      }
  }

  .login_content, .sign_up_content {
    margin-bottom: 10px;
  }

  .load-buttons {
    margin: 10px 0;
  }

  #query {
    width: 100%;
    color: black;
  }

  #queryarea {
    overflow-y: scroll;
    height: 50em;

    .conv_entry {
      color: #fff;

      .responseSuccess {
        color: black;
      }

      .responseFail {
        color: red;
      }
    }

  }

  .storycommands{
    position:absolute;
    bottom:0px;
  }
}
