body {
    background-color: #fff;
    color: #333;
}

.form-control{
  border-radius:0px;
}

.well{
  border-radius:0px;
}

.btn-default{
  color:#0e80ff;
}

.navbar {
    background-color: #fff;
    border-color: #367fa9;
}
.navbar .navbar-brand,
.navbar .navbar-nav > li > a {
    color: #0e80ff;
    padding-right: 10px;
}
.alert {
    display: none;
}
#Progress {
    .progress-bar-success {
        background-color: #DB1B38;
    }
}
/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    overflow-x:hidden;
}
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.navbar-fixed-top {
    border: 0;
}

.btn-primary{
  background-color:#0e80ff;
  border-color:#0e80ff;
}
.btn-success{
    background-color:rgb(78, 222, 75);
    border-color:rgb(78, 222, 75);
}
/*
 * Sidebar
 */
.sidebar {
    background-color: #343745;
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #fff;
        border-right: 1px solid #F5F5F5;
    }
    .right-sidebar {
        position: fixed;
        color: #4E4E4E;
        top: 51px;
        bottom: 0;
        right: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #fff;
        border-left: 1px solid #F5F5F5;
    }
}
nav {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:focus,
.nav-sidebar > .active > a:hover {
    color: #fff;
    background-color: #428bca;
}
.main {
    padding: 20px;
    .page-header {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.placeholders {
    margin-bottom: 30px;
    text-align: center;
    h4 {
        margin-bottom: 0;
    }
}
.placeholder {
    margin-bottom: 20px;
    img {
        display: inline-block;
        border-radius: 50%;
    }
}
