body {
  background-color: #1A191F;
  color: #fff;
  font-family:Helvetica, Arial, sans-serif;
}

.jumbotron {
	background-color: #666;
}

.alert {
  display: none;
}
.panel {
  background-color: transparent;
  border: none;
  font-weight: bold;

  .panel-heading {
    background-color: transparent;
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
  }
  .panel-body {
    font-size: 30px;
    padding: 10px;
  }
}

#Progress{
  .panel-body {
    background-color: #F14E69;
  }

  .progress {
    margin: 10px;
  }
  .progress-bar-success {
    background-color: #DB1B38;
  }
}
.sidebar {
  background-color: #343745;
}