// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
  background-color: black;
  color:white;
}

.submitQuery{
  float:left;
}

.fieldSpan{
  display:block;
  overflow:hidden;
  padding-right:1em;

}

.queryField{
  width:100%;
  color:white;
  background-color: black;
}