<!DOCTYPE html>
<html>
	<head>
	  <title>Kabashd</title>
	  <style>
	  	p {
	  		color: #fff;
	  	}
	  </style>
	</head>
	<body>
		<div class="container">
			<main>
				<%= yield %>
			</main>
		</div>
	</body>
</html>
